# Ignore all image media in /media/store/image
media/

# vetual env
Pipfile
Pipfile.lock

# migartions
core/migrations/
store/migrations/
auth/migrations/
store_custom/migrations/
like/migrations/
tag/migrations/
home/migrations/

# __pycach__
core/__pycache__/
store/__pycache__/
auth/__pycache__/
store_custom/__pycache__/
like/__pycache__/
tag/__pycache__/
home/__pycache__/