autopep8==2.0.1
django-cors-headers==3.13.0
django-debug-toolbar==3.7.0
django-filter==22.1
djoser==2.1.0
drf-nested-routers==0.93.4
flower==1.2.0
mysqlclient==2.1.1
pillow==9.4.0
pip-chill==1.0.1
py3dns==3.2.1
pytest-django==4.5.2
redis==4.5.1
validate-email-address==1
whitenoise==6.4.0
